.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ranking-section {
  min-width: 60%;
  display: flex;
  justify-content: space-around;
 background-color:#007bff;

}

.table-section {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.select-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.RankingPro-container{
  display: flex;
}
.RankingPro-item1 p{
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.RankingPro-item2{
  display: flex;
  margin-left: 20px;
}

